canvas {
    width: 700px;
    height: 700px;
    border: 5px solid #2c3e50;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;

}
.color-options {
    width: 40px;
    height: 40px;
    cursor: pointer;
}